[Desktop Entry]
Version=0.6
Name=Lobby
Comment=Lobby is an Open Source Web OS - lobby.subinsb.com
Exec=bash -c "export PATH=$PATH:`dirname %k`; Lobby.sh"
Icon=/media/sf_Web/Lobby/Zed/Auto/Linux/Standalone/Lobby/lib/logo.svg
Terminal=false
Type=Application
